<div *ngIf="invite!==null" id="gameInvite" class="w3-card-4 w3-light-grey">
  <div class="w3-container">
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <i class="fas fa-gamepad"></i>
    <h3>Doe je mee?</h3>
    <p><b>{{invite.invitingUserName}}</b> heeft jou uitgenodigd om te spelen in <b>'{{invite.gameDto.gameName}}'</b>.</p>
    <div class="notifButtons">
      <button class="btn btn-success notifButton" (click)="joinGame(invite.gameDto)">Speel</button>
    </div>
  </div>
</div>

<div *ngIf="friendRequest!==null" id="friendRequest" class="w3-card-4 w3-light-grey">
  <div class="w3-container">
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <i class="fa fa-users fa-fw"></i>
    <h3>Vriendschapsverzoek</h3>
    <p><b>{{friendRequest.sender}}</b> wilt jou toevoegen als vriend.</p>
    <div class="notifButtons">
      <button class="btn btn-success fas fa-check fa-lg notifButton" (click)="acceptRequest()"></button>
      <button class="btn btn-danger fas fa-times fa-lg notifButton" (click)="denyRequest()"></button>
    </div>
  </div>
</div>

<div *ngIf="notificationBoxComponent.myTurnGame!==null" id="myTurn" class="w3-card-4 w3-light-grey">
  <div class="w3-container">
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <i class="far fa-bell"></i>
    <h3>Spelmelding</h3>
    <p>Het is jouw beurt in <b>'{{notificationBoxComponent.myTurnGame.gameName}}'</b>.</p>
    <div class="notifButtons">
      <button class="btn btn-success notifButton" (click)="joinGame(notificationBoxComponent.myTurnGame)">Speel</button>
    </div>
  </div>
</div>


<div *ngIf="notificationBoxComponent.otherTurnGame!==null&&playedPlayer!==null" id="otherPlayed"
     class="w3-card-4 w3-light-grey">
  <div class="w3-container">
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <i class="far fa-bell"></i>
    <h3>Spelmelding</h3>
    <p><b>{{playedPlayer.userName}}</b> heeft net zijn beurt gespeeld in <b>'{{notificationBoxComponent.otherTurnGame.gameName}}</b>
      '.</p>
    <div class="notifButtons">
      <button class="btn btn-success notifButton" (click)="joinGame(notificationBoxComponent.otherTurnGame)">Speel
      </button>
    </div>
  </div>
</div>

<div *ngIf="notificationBoxComponent.chatMessage!==null" id="chatMessage" class="w3-card-4 w3-light-grey">
  <div class="w3-container">
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <i class="far fa-comment"></i>
    <h3>Bericht</h3>
    <p><b>{{notificationBoxComponent.chatMessage.username}}</b> stuurt in
      <b>'{{notificationBoxComponent.chatMessage.game.gameName}}'</b>: {{notificationBoxComponent.chatMessage.content}}</p>
    <div class="notifButtons">
      <button class="btn btn-success notifButton" (click)="joinGame(notificationBoxComponent.chatMessage.game)">Speel
      </button>
    </div>
  </div>
</div>
