ul {
  height: 3.3vw;
  list-style-type: none;
  background-color: gray;
  overflow: visible;
}

li {
  font-size: 1.5vw;
  cursor: pointer;
  margin-right: 1rem;

}

i {
  padding: 0.7rem;
  color: #FFFFFF;
}
i:hover{
  color: #337ab7;
}

.button {
  font-size: 1.5vw;
  color: white;
  padding: 0.5vw 0.5vw 0.5vw 0.5vw;
  text-align: center;
  text-decoration: none;
}
.button:hover{
  background-color: #619be9;
}
li:not(:first-child) {
  float: right;
}

.dropdown-item {
  font-size: 1.5vw;
}

.badge{
  color: black;
  background-color: #ff7100;
  float: right;
  font-size: 1rem;
  font-family: "Times New Roman", serif;
}

img {
  width: 13vw;
  top: 0;
}

.gamePin{
  color: white;
  text-align: center;
  margin-right:35%;
  font-family: "Times New Roman", serif;
  font-size: 1.5vw;
  font-weight: bold;
}


