<div class="relativeDock">
  <div id="hand">
    <div class="amount"> {{player.handBuildingCards.length}}</div>
    <app-building
      [isRival]="true">
    </app-building>
    <app-character-card class="ownCharacterCard"
                        *ngIf="(player.characterCard != null  && player.characterCard.character.id > characterTurn)"
                        [characterCard]="player.characterCard"
                        [isRival]="true">
    </app-character-card>
    <app-character-card class="ownCharacterCard"
                        *ngIf="player.characterCard != null && player.characterCard.character.id <= characterTurn"
                        [characterCard]="player.characterCard"
                        [isRival]="false">
    </app-character-card>
    <div id="coinsContainer">
      <img id="coins" alt="munten" [src]="'../../../../assets/coin.png'"> {{player.nrOfCoins}}
    </div>
  </div>
  <div>
    <app-building id="boughtBuildingCards" *ngFor="let building of player.boughtBuildingCards.slice(0,4); index as i "
                  (myBuilding)="destroyMe($event)"
                  [buildingCard]="building"
                  [isRival]="true">
    </app-building>
  </div>
  <div>
    <app-building id="boughtBuildingCards2" *ngFor="let building of player.boughtBuildingCards.slice(4); index as i"
                  (myBuilding)="destroyMe($event)"
                  [buildingCard]="building"
                  [isRival]="true">
    </app-building>
  </div>
  <div id="playerInfo" *ngIf="player.orderNr!==playerTurn">
    {{player.userName}}
  </div>
  <div id="playerInfoTurn" *ngIf="player.orderNr===playerTurn">
    {{player.userName}}
  </div>
</div>
