<div class="modal-header">
  <h4 class="modal-title">Gebruik je karaktereigenschap</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>

</div>

<div class="modal-body">
  <div class="container text-center">
    <div *ngIf="charactersMap.get(killerId)">
      <p>Wie wil je vermoorden? </p>
      <p>Eigenschap van <strong>Moordenaar</strong>!</p>
      <div *ngFor="let character of characters; index as i">
        <a class="btn btn-danger giveMeSomeSpace"
           (click)="killCharacter(character.characterName)">{{character.characterName}}</a>

      </div>
    </div>

    <div *ngIf="charactersMap.get(thiefId)">
      <p>Wie wil je bestelen? </p>
      <p>Eigenschap van <strong>Dief</strong>!</p>
      <div *ngFor="let character of characters; index as i">
        <a class="btn btn-danger giveMeSomeSpace "
           (click)="stealFrom(character.characterName)">{{character.characterName}}</a>
        <br>
      </div>
    </div>

    <div *ngIf="charactersMap.get(magicianId)">
      <p>Met welke speler wil je de handkaarten ruilen? </p>
      <p>Eigenschap van <strong>Magieer</strong>!</p>
      <div *ngFor="let rival of rivals; index as i">
        <a class="btn btn-danger"
           (click)="magicianStealBuildingCards(rival.userName)">{{rival.userName}}</a>
        <br>
      </div>
    </div>

    <div *ngIf="charactersMap.get(kingId)">
      <p>Gebruik je eigenschap! </p>
      <div>
        <a class="btn btn-danger"
           (click)="kingReceiveCoins()">Ontvang munten</a>
        <br>
      </div>
    </div>

    <div *ngIf="charactersMap.get(merchantId)">
      <p>Gebruik eigenschap! </p>
      <p>Eigenschap van <strong>Koopman</strong>!</p>
      <div>
        <a class="btn btn-danger"
           (click)="merchantReceiveCoins()">Ontvang munten</a>
        <br>
      </div>
    </div>

    <div *ngIf="charactersMap.get(architectId)">
      <p>Gebruik je eigenschap! </p>
      <div>
        <a class="btn btn-danger"
           (click)="architectReceiveBuildings()">Ontvang twee extra gebouwen</a>
        <br>
      </div>
    </div>

    <div *ngIf="charactersMap.get(bishopId)">
      <p>Gebruik je eigenschap! </p>
      <p>Eigenschap van <strong>Prediker</strong>!</p>
      <div>
        <a class="btn btn-danger"
           (click)="bishopReceiveCoins()">Ontvang munten</a>
        <br>
      </div>
    </div>


    <div *ngIf="charactersMap.get(warlordId)">
      <p>Gebruik je eigenschap! </p>
      <p>Eigenschap van <strong>Condottiere</strong>!</p>
      <div>
        <a class="btn btn-danger"
           (click)="warLordReceiveCoins()">Ontvang munten</a>
        <br>
      </div>
    </div>
  </div>


</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Sluiten</button>
</div>
