.frame {
  background-color: #ddc;
  border-radius: 0.1vw;
  border: 5vmin solid gray;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}


.item1 {
  grid-area: main;
}

.item2 {
  grid-area: right;
}


.grid-container {
  display: grid;
  grid-template-areas: 'header header header header header header' 'menu main main main right right' 'menu footer footer footer footer footer';
  grid-gap: 10px;

}

.grid-container > div {
  text-align: center;
  padding: 1.5vw 0;
  font-size: 1.7vw;
}
img{
  width: 30.5vw;
  height: auto;
}

@media (max-width: 850px) {

  .grid-container {
    display: grid;
    grid-template-areas: 'header' 'main' 'right';
    grid-gap: 10px;

  }
}
