<app-character-card class="centerCard" *ngFor="let card of middleFaceUpCharacterCards"
                    [characterCard]="card">
</app-character-card>

<div class="centerCard" *ngIf="playerOrderNr!==0">
  <app-character-card *ngFor="let card of middleFaceDownCharacterCards"
                      [isRival]="true"
                      [characterCard]="card">
  </app-character-card>
</div>

<div class="centerCard" *ngIf="playerOrderNr===0">
  <app-character-card *ngFor="let card of middleFaceDownCharacterCards"
                      [characterCard]="card">
  </app-character-card>
</div>
