.buildingImg{
  border-radius: 0.5vw;
  width: 3.9vw;
  height: auto;
  overflow: scroll;
}
.buildingImg:hover{
  border-radius: 0.5vw;
  transform: scale(2.3);
  transition: 0.1s;
  transform-origin: bottom center;
}
