html,body{
  height: 100%;
}

@font-face {
  font-family: lettertype;
  src: url(~src/assets/Augusta.ttf);
  font-weight:400;
}

h2{
  font-family: lettertype, Helvetica, Arial, sans-serif;
  font-size: 3vw;
  color: white;
  text-align: center;
}

button,.form-wrapper{
  font-size: 1.5vw;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%
}


p{
  font-family: "Times New Roman", Times, serif;
  font-size: 3vw;
  color: white;
  text-align: center;
}

input{
  font-size: 1vw;
}
