<p>Login</p>
<!--
<i class="fab fa-fort-awesome fa-4x"></i>
-->
<div class="form-wrapper">
  <form name="loginForm" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <input id="usernameInput" type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel"
             required placeholder="Username"/>
      <div *ngIf="f.submitted && !username.valid" class="help-block alert-danger alert">Username is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <input id="passwordInput" type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"
             required placeholder="Password"/>
      <div *ngIf="f.submitted && !password.valid" class="help-block alert-danger alert">Password is required</div>
    </div>
    <div class="form-group">
      <button id="signIn" [disabled]="loading" class="btn btn-info">Meld aan</button>
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </form>
</div>

<!--
<app-socialmedia>

</app-socialmedia>
-->
