.hand {
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boughtBuildingCards {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#coins{
  width: 3vw;
}
#coinsContainer{
  display: inline;
  margin-left: 2vw;
}
#ownCharacterCard{
  display: inline-block;
  margin-left: 2vw;
}
#handImg{
  width: 3vw;
  margin-right: 1vw;
}
