table {
  width: 96%;
  margin: 2%;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

.friendHeader {
  margin: 2%;
  text-align: center;
}

th {
   font-size: 0.7em;
  color: white;
  text-align: center;

  background-color: gray;
}
.eerstekolom{
  padding-left: 24px;
}
td {
  font-size: 0.5em;
}

form {
  font-size: 0.5em;
  display: inline-block;
  float: right;
}

.inputstyle {
  color: white;
  font-size: 20px;
}

#requestResponse {
  padding-top: 1.3em;
  padding-right: 2em;
  float: right;
  font-size: 0.5em;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


@font-face {
  font-family: lettertype;
  src: url(../../../assets/Augusta.ttf);
  font-weight: 400;
}

h1 {
  font-family: lettertype, Helvetica, Arial, sans-serif;
  font-size: 3vw;
  color: white;
  text-align: center;
}

.emptystates{
  text-align: center;
}
