<div class="modal-header">
  <h4 class="modal-title">Uitnodigen</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>

</div>

<div class="modal-body">
  <form (submit)="inviteByUserName()">
    <input name="friendName" [(ngModel)]="friendName" placeholder="Gebruikersnaam">
    <button type="submit" class="btn btn-success inviteBtn">Uitnodigen</button>
  </form>
  <hr>
  <h3>Vrienden</h3>
  <ul>
    <li *ngFor="let friend of friends">
      {{friend.userName}}
      <button class="btn btn-success inviteBtn" (click)="invite(friend)">Uitnodigen</button>
    </li>
  </ul>
  <h3>Vorige tegenstanders</h3>
  <ul>
    <li *ngFor="let player of prevPlayers">
      {{player}}
      <button class="btn btn-success inviteBtn" (click)="inviteByUserNamePrev(player)">Uitnodigen</button>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Sluiten</button>
</div>
