<div class="col-md-6 container">
  <mat-card>
    <mat-card-content>
      <h2 class="text-center default-text py-3"><i class="fa fa-cog"></i> Instellingen nieuw spel:</h2>
      <!--Body-->

      <form [formGroup]="settingsForm">
        <div>
        <i class="fa fa-align-left prefix grey-text"></i>
        <mat-form-field>
          <input matInput type="text" id="gameName" class="form-control" formControlName="gameName" required>
          <mat-label for="gameName">Spel naam</mat-label>
        </mat-form-field>
        </div>
        <div>
        <i class="fas fa-hourglass prefix grey-text"></i>
        <mat-form-field>
          <input matInput type="number" id="turnDuration" class="form-control" min="1" max="300" formControlName="turnDuration" required>
          <mat-label class="active" for="turnDuration">Beurtduur (sec.) (1 - 300)</mat-label>
        </mat-form-field>
        </div>
        <div>
        <i class="fas fa-city prefix grey-text"></i>
        <mat-form-field>
          <input matInput type="number" id="reqBuildings" class="form-control" min="1" max="8"  formControlName="reqBuildings" required>
          <mat-label class="active" for="reqBuildings">Aantal gebouwen nodig (1 - 8)</mat-label>
        </mat-form-field>
        </div>
        <div>
        <i class="fas fa-user-friends prefix grey-text"></i>
        <mat-form-field>
          <input matInput type="number" id="maxPlayers" class="form-control" min="2" max="7" formControlName="maxPlayers" required>
          <mat-label class="active" for="maxPlayers">Max. aantal spelers (2 - 7)</mat-label>
        </mat-form-field>
        </div>
        <div>
        <i class="fas fa-lock-open prefix grey-text"></i>
        <mat-form-field>
          <mat-select name="joinType" id="joinType" formControlName="joinType" required>
            <mat-option value="0">Open</mat-option>
            <mat-option value="1">Privé</mat-option>
          </mat-select>
          <mat-label class="active" for="joinType">Toegankelijkheid</mat-label>
        </mat-form-field>
        </div>

        <div class="text-center">
          <button id="makeLobby" type="submit" class="btn btn-success" (click)="makeLobby()">Maak spel
          </button>
        </div>
      </form>
      <span>* verplicht</span>
    </mat-card-content>
  </mat-card>
</div>
