<div class="modal-header">
  <h4 class="modal-title">Wat wilt u in deze ronde doen?</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>

</div>

<div class="modal-body">
  <div class="container text-center">
    <img *ngIf="!coinBoolean" class="coins" [src]="coinPath" (click)="coinsClick()">


    <img *ngIf="!coinBoolean" class="cards" [src]="cardsPath" (click)="cardClick()">
  </div>

  <div class="text-center" *ngIf="cardBoolean">
    <app-building *ngFor="let building of choices; index as i" (myBuilding)="buildingSelected($event)"
                  [buildingCard]="building"
                  [isRival]="false"></app-building>
  </div>


</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Sluiten</button>
</div>
