.characterImg {
  border-radius: 0.5vw;
  height: auto;
  max-width: 3.9vw;
  overflow: scroll;
}

.characterImg:hover {
  border-radius: 0.5vw;
  transform: scale(2.3);
  transition: 0.1s;
  transform-origin: bottom center;
}
